---
import Hr from "../components/Hr.astro";
import Navbar from "../components/Navbar.astro";
import Socials from "../components/Socials.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <Navbar />
  <main class="" id="main-content">
    <section class="mb-12 flex flex-col gap-8">
      <h1 class="text-5xl font-black">Hi, I'm Erik!</h1>
      <p>
        I'm a fullstack developer who uses many different frameworks. I mainly
        use Javascript Frameworks for my projects but I also create programs in
        Python, Java and Haxe.
      </p>
      <p>
        Read my blog posts and view my projects <a
          href="/blog"
          class="underline decoration-dashed hover:text-brand-orange">here</a
        >.
      </p>
      <p class="flex gap-2">
        <span class="mr-2">Social Links:</span>
        <Socials />
      </p>
    </section>
    <Hr />
  </main>
</Layout>
